
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	height: 50px;
	width: 100%;
	background-color: rgb(49, 48, 48);
	position: relative;
}

.logo {
	color: #ffffff;
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: absolute;
	top:6px;
	left: 25px;
	display: inline;
	
}

nav {
	position: absolute;
	right: 30px;
	top: 8px;
}
nav  a{
	display: inline;
	text-decoration: none;
	color:#ffffff;
	font-size: 17px;
	float: right;
	margin: 10px;
	transition: all 0.3s;
}

nav  a:hover {
	transform: scale(1.1);
	color: #61c2f7;
}

.hero {
	height: 100vb;
	width: 100%;
	background-image: linear-gradient( rgba(0, 0, 0, 0.295)),url(images/headerbg.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;

}

.hStric {
	color: white;
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 20px;
}

.lineHero {
	width: 600px;
	margin: 0 auto;
}

.pHero{
	color: white;
	font-size: 16px;
	text-align: center;
	margin: 20px 0
	 ;
}

.btn1 {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 2px solid #61c2f7 ;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 320px;
	transform: translate(-50%, -50%);
	padding: 10px 0;
	
}
.btn1:hover {
	background-color: #61c3f73f;
	transition: all 0.3s;
}

.discriptionSec {
	width: 100%;
	height: 160px;
	background-color: rgb(240, 247, 249);
}

.discriptionSec h2 {
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

.discriptionSec p {
	text-align: center;
	position: relative;
}

.cardSection {
	width: 100%;
	height: 220px;
	background-color: white;
}

.cardcontiner{
	display: inline-block;
	margin: 30px;
	overflow: hidden;
	float: left;
}

.imgSection {
	text-align: center;
}

.container {
	width: 100%;
	margin: 20px 0; 
}

.imgSection .container img {
	margin: 7px;

}

.contact{
	width: 100%;
	height: 100vb;
	background-image: linear-gradient( rgba(3, 3, 3, 0.295)),url(images/contactbg.png);
}

.textContainer{
	color: white;
	text-align: center;
	padding: 100px 0;

}
.textContainer h3{
	font-size: 50px;
}

.textContainer p {
	font-size: 25px;
	margin-bottom: 20px;
}

.input {
	margin: 0 auto;
	width: 800px;
	display : inline-block;
	margin: 5px;
	height: 40px;
	background-color: transparent;
	border: 2px #61c2f7 solid ;
	border-radius: 5px;
	padding: 9px;
}

textarea {
	background-color: transparent;
	background-color: transparent;
	width: 800px;
	height: 100px;
	border: 2px #61c2f7 solid ;
	border-radius: 5px;
	padding: 9px;
}

.btn {
	background-color: transparent;
	border: 2px #61c2f7 solid ;
	border-radius: 2px;
	padding: 9px;
	width: 90px;
	color: white;
	margin: 10px;

}

.checkContianer{
	display: inline-block;
	position: relative;
	right: 250px;
}

footer {
	height: 90px;
	width: 100%;
	background-color: #ffffff;

}

footer img {
	width: 40px;
	float: right;
	cursor: pointer;
	margin: 20px;
}